.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.image{
  width: 80px;
  
}
body{
  background-image: url("./assets/bg2.jpg");
 
}
button{
  width: 150px;
  height: 90px;
  background-color: rgb(167, 185, 185) !important;
  border-radius: 2.25rem!important;
}

.score{
  background-color: rgba(126, 136, 155, 0.8)!important; 
 
  height: 50vh;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  
  color: rgb(243, 245, 247);
}
.score-text {
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  margin-top: 10px; 
  display: flex;
  justify-content: space-between; 
}
